<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Add-Book</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" name="form">
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            title：
                        </label>
                        <div class="col-md-9">
                            <input type="text" name="title" class="form-control" placeholder="最多64个字符" ng-model="bookInfo.title">
                            <input type="text" name="title" class="form-control" placeholder="最多64个字符" ng-model="aa">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            Publisher：
                        </label>
                        <div class="col-md-9">
                            <!-- <select ng-model="bookInfo.publisher" ng-options="x.id for x in publishers"></select> -->
                            <select ng-model="bookInfo.publisher">
                                <option ng-repeat="x in publishers" value="{{x.id}}">{{x.name}}</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            Authors：
                        </label>
                        <div class="col-md-9">
                            <select ng-model="bookInfo.author" multiple="multiple" >
                                <option ng-repeat="x in authors" value="{{x.id}}">{{x.name}}</option>
                            </select>

                        </div>
                    </div>
                     
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            have E-book：
                        </label>
                        <div class="col-md-9">
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a class="btn btn-success" ng-click='add()' >OK</a>
                            <a  class="btn btn-primary" ng-click='cancel()'>Cancel</a>
                            <button class="btn btn-default" ng-click="setFormData()">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
